.navbar {
    text-decoration: none;
    padding: 15px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background-color: #1d2125;
    color:#e9ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    position: fixed;
}

*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

.navbar-left{
    align-items: center;
    display: flex;
    justify-self: start;
}

.navbar-right{
    display: flex;
    margin-left: auto;
}

.nav-item {
    color:#fff;
    font-size: 15px;
    padding: auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}





.title{
    cursor: pointer;
}

.dropdown-menu {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #333740f4;
    min-width: 120px;
    z-index: 1;
    padding: 12px;
    border-radius: 8px;
}

.dropdown-item {
    display: block;
    padding: 9px 5px;
    color: #a4a4a4;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-item:hover {
    transition: 0.2s;
    background-color: #2b2e34;
    color: #ffff;
    cursor: pointer;
    border-radius: 6px;
}

.nav-item:hover .dropdown-menu {
    transition: 0.2s;
    display: block;
}

.navbar-nav{
    cursor: pointer;
    border:transparent 1px solid;
    padding: 10px;
    margin-right: 15px;
}


.navbar-nav:hover{
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    background-color: #2b2e34af;
}

.propietario{
    font-weight: normal;
    font-size: 12px;
}
