.tabla-scrum {
    padding: 4rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    table {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.60);
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #8d8d8d;
        margin-top: 15px;
        margin-bottom: 15px;
        th {
            padding: 15px;
            background-color: #1d3474;
            text-align: center;
            color: #fff;
        }

        td {
            vertical-align: top;
            text-align: start;
            padding: 9px;
            border: 1px solid #8d8d8d;
            font-weight: 400;
        }

        tr {
            text-align: right;
            font-weight: bold;

            &:nth-child(even) {
                background-color: #ffffff;
            }
        }
    }
}
.acciones {
    justify-content:space-between;
    display: flex;
}


.tabla-sprintboard {
    overflow-x: auto;
    padding: 4rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tabla-sprintboard table {
    table-layout: fixed;
    width: 3000px;
    border-collapse: separate;
    border-spacing: 15px 0;
    background-color: transparent;
}

.tabla-sprintboard th {
    cursor: pointer;
    padding: 15px 25px 5px 15px;
    background-color: #f1f2f4ac;
    color: #000000;
    text-align: left;
    border-radius: 10px 10px 0 0; /* Borde redondeado en la parte superior */
}

.tabla-sprintboard td {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f2f4ac;
    vertical-align: top;
}

.tabla-sprintboard td:first-child {
    border-radius: 0 0 10px 10px;
}

.tabla-sprintboard td {
    border-radius: 0 0 10px 10px;
}
