//Hoja de estilo tarjetasSCRUM

.div-tarjeta01 {
    cursor: pointer;
    font-size: 15px;
    color:#22272bfc;
    padding: 2px 15px 2px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: #b1b1b1 1px solid;
    background-color: #fff;
}



.div-tarjeta02 {
    width: 500px;
    height: 250px;
    border: 3px solid #77e47c;
    background-color: #77e47c;
}

.div-tarjeta03 {
    width: 500px;
    height: 250px;
    border: 3px solid #ff977d;
    border-radius: 4px;
    background-color: #ff977d;
    text-align: center;
}

.div-tarjeta04 {
    width: 500px;
    height: 250px;
    border: 3px solid #ffe46a;
    border-radius: 4px;
    background-color: #ffe46a;
    text-align: center;
}
