<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Allow direct access to images
    RewriteRule \.(jpg|jpeg|png|gif)$ - [L]

    # Handle CORS for captcha
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        Header set Cache-Control "no-cache, must-revalidate"
    </IfModule>

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <Location "/captcha">
    Order allow,deny
    Allow from all
    Satisfy any
    </Location>

</IfModule>
