@import "w3";
@import "global/menuSCRUM";
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@import 'global/tablasSCRUM.scss';
@import 'global/botonesSCRUM';
@import "global/formularioSCRUM";
@import "global/erroresSCRUM";
@import "global/etiquetasSCRUM";
@import "global/tarjetasSCRUM";
@import "global/modalSCRUM";

$colorTexto:rgb(28, 23, 23);
$fondoTexto:red;

main {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f9a8d4, #d8b4fe, #818cf8);
}


