//Hoja de estilo tarjetasSCRUM

.div-tarjeta01 {
    width: 500px;
    height: 250px;
    border: 3px solid #b8cce4;
    border-radius: 4px;
    background-color: #b8cce4;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

.div-tarjeta02 {
    width: 500px;
    height: 250px;
    border: 3px solid #77e47c;
    border-radius: 4px;
    background-color: #77e47c;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

.div-tarjeta03 {
    width: 500px;
    height: 250px;
    border: 3px solid #ff977d;
    border-radius: 4px;
    background-color: #ff977d;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

.div-tarjeta04 {
    width: 500px;
    height: 250px;
    border: 3px solid #ffe46a;
    border-radius: 4px;
    background-color: #ffe46a;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}
